@inherits LayoutComponentBase

<PageTitle>Sawyers.EmployeeManager</PageTitle>

<div class="box-mainlayout">
    <section class="navbar-mainlayout">
        <NavMenu />
    </section>

    <main class="body-mainlayout">
        @Body
    </main>
</div>