<div class="navalignmentbox-navmenu">
    <div class="sawyers-logobox-navmenu">
        <a href="">
            <h1 class="sawyers-logo-navmenu">Sawyers</h1>
        </a>
        @*    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
        </button>*@
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="navbox-navmenu">
            <NavLink class="navlink-navmenu" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="navlink-navmenu" href="/employees/list">
                <span class="oi oi-list" aria-hidden="true"></span> Employees
            </NavLink>
            <NavLink class="navlink-navmenu" href="/employees/add">
                <span class="oi oi-plus" aria-hidden="true"></span> New Employee
            </NavLink>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
